{
  "agent": {
    "metrics_collection_interval": 60,
    "run_as_user": "root"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {% if 'web' in group_names %}
          {
            "file_path": "/var/log/messages",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/web/system",
            "retention_in_days": 14,
            "timezone": "UTC"
          },
          {
            "file_path": "/var/log/secure",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/web/system-secure",
            "retention_in_days": 14,
            "timezone": "UTC"
          },
          {
            "file_path": "/var/log/httpd/access_log",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/web/httpd-access",
            "retention_in_days": 14,
            "timezone": "UTC"
          },
          {
            "file_path": "/var/log/httpd/error_log",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/web/httpd-error",
            "retention_in_days": 14,
            "timezone": "UTC"
          },
          {
            "file_path": "/var/www/html/logs/app.log",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/web/application",
            "retention_in_days": 14,
            "timezone": "UTC"
          }
          {% endif %}
          {% if 'app' in group_names %}
          {
            "file_path": "/var/log/messages",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/app/system",
            "retention_in_days": 14,
            "timezone": "UTC"
          },
          {
            "file_path": "/var/log/secure",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/app/system-secure",
            "retention_in_days": 14,
            "timezone": "UTC"
          },
          {
            "file_path": "/app/logs/streamlit.log",
            "log_group_name": "/aws/ec2/application",
            "log_stream_name": "{instance_id}/app/streamlit",
            "retention_in_days": 14,
            "timezone": "UTC"
          }
          {% endif %}
        ]
      }
    },
    "log_stream_name": "{instance_id}"
  },
  "metrics": {
    "namespace": "CWAgent",
    "metrics_collected": {
      "cpu": {
        "measurement": [
          {
            "name": "cpu_usage_idle",
            "rename": "CPU_IDLE",
            "unit": "Percent"
          },
          "cpu_usage_iowait"
        ],
        "metrics_collection_interval": 60,
        "totalcpu": false
      },
      "disk": {
        "measurement": [
          {
            "name": "used_percent",
            "rename": "DISK_USED",
            "unit": "Percent"
          }
        ],
        "metrics_collection_interval": 60,
        "resources": [
          "*"
        ]
      },
      "mem": {
        "measurement": [
          {
            "name": "mem_used_percent",
            "rename": "MEM_USED",
            "unit": "Percent"
          }
        ],
        "metrics_collection_interval": 60
      }
    }
  }
}
