name: versus
host: 0.0.0.0
port: 3000

alert:
  debug_body: {{ versus_debug_body | default('false') }}

  telegram:
    enable: {{ telegram_enable | default('true') }}
    bot_token: ${TELEGRAM_BOT_TOKEN}
    chat_id: ${TELEGRAM_CHAT_ID}
    template_path: "/app/config/telegram_message.tmpl"
    use_proxy: false

  # Disable other channels for now
  slack:
    enable: false
  
  email:
    enable: false
  
  msteams:
    enable: false
  
  viber:
    enable: false
  
  lark:
    enable: false

  queue:
    enable: false
  
  sns:
    enable: false
  
  sqs:
    enable: false

oncall:
  enable: false
