[defaults]
inventory = ./inventory/aws_ec2.yml
remote_tmp = /tmp/.ansible/tmp
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles
interpreter_python = auto_silent
stdout_callback = yaml
timeout = 900
forks = 2
callbacks_enabled = profile_tasks


[inventory]
enable_plugins = amazon.aws.aws_ec2

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
